*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --bgcolor:rgb(21 97 59 / 75%);
  --searchbar:linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);
  --default:#ff6600;
}
#root{
   background-color: rgb(9,9,23); 
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2c2f33;
}

::-webkit-scrollbar-thumb {
  background-color: #7289da;
  border-radius: 10px;
  border: 2px solid #2c2f33;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #99aab5;
}